language: node_js

node_js:
    - "10"
    
services:
    - docker

stages: 
    - name: test
    - name: build and push
      if: branch = master

jobs: 
    include:
        - stage: test
          name: 'unit test'
          script: 
            - npm run test

        - name: 'just test'
          script:
            - npm info vue

        - stage: build and push
          name: 'docker build'
          script:
            - docker build -t weitengfei/frontend:latest .
            - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
            - docker push weitengfei/frontend:latest
        
notifications: 
    email:
        recipients: 
            - leon.wei@tradeshift.com
        on_success: change
        on_failure: always

    webhooks: http://118.89.225.49:7777
